{% extends "base.html" %} {% block title %}Kristina N. | Blog{% endblock %} {% block content%}
<h2>Blog Posts</h2>
<section class="blog-post">
{% for post in blog_posts %}
<div class="blog-post">
    <h3 class="blog-post">{{ post.title }}</h3>
    <p class="blog-post">{{ post.subtitle }}</p>
    <img class="blog-post"
         src="{{ post.photo.url }}"
         width="300"
         height="400"
         alt="{{ post.photo_alt }}"
    />
</div>
{% empty %}
<p>No posts yet.</p>
{% endfor %} 
 </section>
 {% endblock %}
